html {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section__1 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 550px;
  display: flex;
  align-items: center;
  .title {
    font-size: 40px;
    font-weight: 700;
    color: rgb(59, 59, 186);
  }
  .slider {
    position: relative;
    max-width: 475px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    .list {
      border-radius: 20px;
      display: flex;
      position: absolute;
      left: 66px;
      width: max-content;
      height: 100%;
      transition: 0.5s;
      img {
        border-radius: 20px;
        width: 475px;
        height: 100%;
        object-fit: cover;
      }
    }
    .inner__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 40%;
      .inner__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: #000;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #c4c4c48c;
      }
    }
  }
}
